// The ui-variables file is provided by base themes provided by Atom.
//
// See https://github.com/atom/atom-dark-ui/blob/master/styles/ui-variables.less
// for a full listing of what's available.
@import "ui-variables";

.nitrile-preview {

  p {
    line-height: inherit;
  }

  .SLIDE {
    margin: auto auto;
    min-width:128mm;
    max-width:128mm;
    min-height:96mm;
    max-height:96mm;
    font-family: Verdana, sans-serif;
    font-size: 10pt;
    line-height: 1.25em;
    box-sizing: border-box;
    overflow: hidden;
    padding: 1px 0;
    outline: 1px solid;
    
    .PARAGRAPH.PRIMARY {
      text-indent: initial;
      margin-top: 1.0em;
    }
    .PARAGRAPH.INDENTING {
      text-indent: initial;
      padding-left: 1.5em;
    }
    .PARAGRAPH {
      text-indent: initial;
      margin-top: 6pt;   
      margin-bottom: 6pt;   
      margin-left:  9mm;
      margin-right: 9mm;
    }
    .LISTING .BODY {
      line-height: 1; 
      text-align: left; 
      width: 100%; 
      padding-left: 1.5em;
      position: relative;
    }
    .LISTING .BODY .LINE {
      position: relative;
    }
    .LISTING .BODY .LINE::before {
      content: var(--lineno);
      position: absolute;
      left: -1.5em;
    }
    .FIGURE {
      page-break-inside: avoid;
    }
    .FIGCAPTION {
      text-indent: initial;
      margin-top: 0;
      margin-bottom: 0.5em;
      line-height: 1em;
      white-space: normal;
    }
    .SUBCAPTION {
      padding: 0;
      text-indent: initial;
      white-space: normal; 
      font-size: smaller;
      line-height: 1em;
    }
    .SUBCAPTION::before {
      content: var(--num) " ";
    }
    .SUBROW {
      display: flex;         
      flex-direction: row;
      align-items: baseline;
    }
    .CENTER {
      text-indent: initial;
      text-align:center;
    }
    .FLUSHRIGHT {
      text-indent: initial;
      text-align:right;
    }
    .FLUSHLEFT {
      text-indent: initial;
      text-align:left;
    }
    .QUOTE {
      text-indent: initial;
      text-align:left;
      padding-left: 12pt; 
      padding-right: 12pt;  
    }
    .DISPLAYMATH {
      text-indent: initial;
      text-align:center;
    }
    .MATH {
      text-indent: initial;
      text-align:left;
    }
    .VERBATIM {
      text-indent: initial;
      text-align: left;
      width: 100%;
      line-height: 1em;
    }
    .VERSE {
      text-indent: initial;
      text-align: left;
    }
    .PARBOX {
      text-indent: initial;
    }
    .TABULAR {
      text-indent: initial;
    }
    .PARA {
      margin-top: 1.0em;
      margin-bottom: 1.0em;
    }
    .PACK {
      margin-top: 0em;
      margin-bottom: 0em;
    }
    .DT {
      margin-bottom: 0em;
    }
    .DD {
      margin-left: 0;
      padding-left: 10mm;
    }
    .LI {
      position: relative;
    }
    .LI::before {
      position: absolute;
      content: var(--bull);
      left: var(--pad);
    }
    .TH, .TD {
      padding: 0.1em 0.6em;
    }
    .PART, .CHAPTER, .SECTION, .SUBSECTION, .SUBSUBSECTION, .PRIMARY {
      clear: both;
    }
    .TITLE {
      margin-left:10px;
      margin-right:10px;
      margin-top:2mm;
      margin-bottom:0;
      font-size:1.20em;
    }
    .SUBTITLE {
      margin-left:10px;
      margin-right:10px;
      margin-top:1.0mm;
      margin-bottom:0;
      font-size:0.9em;
    }
    .FRONTMATTERTITLE {
      margin-left: 6.5mm;
      margin-right: 6.5mm;
      margin-top: 2.5cm;
      margin-bottom: 0;
      font-size: 1.8em;
      font-weight: bold;
      text-align: center;
      align-self: center;
    }
    .FRONTMATTERSUBTITLE {
      margin-left: 6.5mm;
      margin-right: 6.5mm;
      margin-top: 0.8cm;
      margin-bottom: 0;
      font-size: 1.1em;
      text-align: center;
      align-self: center;
    }
    .FRONTMATTERINSTITUTE {
      margin-left: 6.5mm;
      margin-right: 6.5mm;
      margin-top: 0.2cm;
      margin-bottom: 0;
      font-size: 1.1em;
      text-align: center;
      align-self: center;
    }
    .FRONTMATTERAUTHOR {
      margin-left: 6.5mm;
      margin-right: 6.5mm;
      margin-top: 0.2cm;
      margin-bottom: 0;
      font-size: 1.1em;
      text-align: center;
      align-self: center;
    }
    .FRONTMATTERDATE {
      margin-left: 6.5mm;
      margin-right: 6.5mm;
      margin-top: 0.2cm;
      margin-bottom: 0;
      font-size: 1.1em;
      text-align: center;
      align-self: center;
    }
    .EDITIMG {
      visibility: hidden;
      position: absolute;
      top: 0px;
      left: 0px;
    }
    .EDITBOARD {
      position: absolute;
      visibility: visible;
      top: 0px;
      left: 0px;
      bottom: 0px;
      right: 0px;
      background-position: 0px 0px;
      background-repeat: no-repeat;
    }
  }

  .FOLIO {
    margin: auto auto;
    min-width:148mm;
    max-width:148mm;
    min-height:210mm;
    max-height:210mm;
    font-family: Verdana, sans-serif;
    font-size: 10pt;
    line-height: 1.25em;
    box-sizing: border-box;
    overflow: hidden;
    padding: 10mm 10mm;
    outline: 1px solid;
    
    .PARAGRAPH {
      text-indent: initial;
      margin-top: 6pt;   
      margin-bottom: 6pt;   
      margin-left:  0;
      margin-right: 0;
    }
    .PARAGRAPH.INDENTING {
      text-indent: initial;
      padding-left: 3.0em;
    }
    .PARAGRAPH.PRIMARY {
      text-indent: initial;
      margin-top: 1.0em;
    }
    .CHAPTER {
      text-indent: initial;
      margin-top: 6pt;   
      margin-bottom: 6pt;   
      margin-left:  0;
      margin-right: 0;
      font-weight: 700;  
    }
    .SECTION, .SUBSECTION, .SUBSUBSECTION {
      text-indent: initial;
      margin-top: 6pt;   
      margin-bottom: 6pt;   
      margin-left:  0;
      margin-right: 0;
      font-weight: 700;  
    }
    .LISTING .BODY {
      line-height: 1em; 
      text-align: left; 
      width: 100%; 
      padding-left: 1.5em;
      position: relative;
    }
    .LISTING .BODY .LINE {
      position: relative;
    }
    .LISTING .BODY .LINE::before {
      content: var(--lineno);
      position: absolute;
      left: -1.5em;
    }
    .FIGURE {
      page-break-inside: avoid;
    }
    .FIGCAPTION {
      text-indent: initial;
      margin-top: 0;
      margin-bottom: 0.5em;
      line-height: 1em;
      white-space: normal;
    }
    .SUBCAPTION {
      padding: 0;
      text-indent: initial;
      white-space: normal; 
      font-size: 0.8em;
      line-height: 1em;
    }
    .SUBCAPTION::before {
      content: var(--num) " ";
    }
    .SUBROW {
      display: flex;         
      flex-direction: row;
      align-items: baseline;
    }
    .CENTER {
      text-indent: initial;
      text-align:center;
    }
    .FLUSHRIGHT {
      text-indent: initial;
      text-align:right;
    }
    .FLUSHLEFT {
      text-indent: initial;
      text-align:left;
    }
    .QUOTE {
      text-indent: initial;
      text-align:left;
      padding-left: 12pt; 
      padding-right: 12pt;  
    }
    .DISPLAYMATH {
      text-indent: initial;
      text-align:center;
    }
    .MATH {
      text-indent: initial;
      text-align:left;
    }
    .VERBATIM {
      text-indent: initial;
      text-align: left;
      width: 100%;
      line-height: 1em;
    }
    .VERSE {
      text-indent: initial;
      text-align: left;
    }
    .PARBOX {
      text-indent: initial;
    }
    .TABULAR {
      text-indent: initial;
    }
    .PARA {
      margin-top: 1.0em;
      margin-bottom: 1.0em;
    }
    .PACK {
      margin-top: 0em;
      margin-bottom: 0em;
    }
    .DT {
      margin-bottom: 0em;
    }
    .DD {
      margin-left: 0;
      padding-left: 10mm;
    }
    .COVE {
      position: relative;
    }
    .COVE::before {
      position: absolute;
      content: var(--bull);
      left: var(--pad);
    }
    .TH, .TD {
      padding: 0.1em 0.6em;
    }
    .PART, .CHAPTER, .SECTION, .SUBSECTION, .SUBSUBSECTION, .PRIMARY {
      clear: both;
    }
    .FRONTMATTERTITLE {
      margin-left: 6.5mm;
      margin-right: 6.5mm;
      margin-top: 2.5cm;
      margin-bottom: 0;
      font-size: 1.8em;
      font-weight: bold;
      text-align: center;
      align-self: center;
    }
    .FRONTMATTERSUBTITLE {
      margin-left: 6.5mm;
      margin-right: 6.5mm;
      margin-top: 0.8cm;
      margin-bottom: 0;
      font-size: 1.1em;
      text-align: center;
      align-self: center;
    }
    .FRONTMATTERINSTITUTE {
      margin-left: 6.5mm;
      margin-right: 6.5mm;
      margin-top: 0.2cm;
      margin-bottom: 0;
      font-size: 1.1em;
      text-align: center;
      align-self: center;
    }
    .FRONTMATTERAUTHOR {
      margin-left: 6.5mm;
      margin-right: 6.5mm;
      margin-top: 0.2cm;
      margin-bottom: 0;
      font-size: 1.1em;
      text-align: center;
      align-self: center;
    }
    .FRONTMATTERDATE {
      margin-left: 6.5mm;
      margin-right: 6.5mm;
      margin-top: 0.2cm;
      margin-bottom: 0;
      font-size: 1.1em;
      text-align: center;
      align-self: center;
    }
  }

  .PAGE {
    font-family: Verdana, sans-serif;
    font-size: 10pt;
    line-height: 1.25em;
        
    .PARAGRAPH {
      text-indent: initial;
      margin-left:  0;
      margin-right: 0;
    }
    .PARAGRAPH.PRIMARY {
      text-indent: initial;
      margin-top: 1.0em;
    }
    .PARAGRAPH.SAMPLE {
      text-indent: initial;
      margin-top: 1.0em;
      margin-bottom: 1.0em;
      line-height: 1em;
    }
    .PARAGRAPH.ITEMIZE {
      text-indent: initial;
      margin-top: 1.0em;
      margin-bottom: 1.0em;
    }
    .PARAGRAPH.INDENTING {
      text-indent: initial;
      padding-left: 1.5em;
      margin-top: 1.0em;
      margin-bottom: 1.0em;
    }
    .PARAGRAPH.MATH {
      text-indent: initial;
      margin-top: 1.0em;
      margin-bottom: 1.0em;
    }
    .PARAGRAPH.EQUATION {
      text-indent: initial;
      margin-top: 1.0em;
      margin-bottom: 1.0em;
    }
    .PARAGRAPH.FIGURE {
      text-indent: initial;
      margin-top: 1.0em;
      margin-bottom: 1.0em;
    }
    .PARAGRAPH.LONGTABU {
      text-indent: initial;
      margin-top: 1.0em;
      margin-bottom: 1.0em;
    }
    .PARAGRAPH.COLUMNS {
      text-indent: initial;
      margin-top: 1.0em;
      margin-bottom: 1.0em;
    }
    .PARAGRAPH.NORMAL {
      text-indent: 1.5em;
    }
    .CHAPTER + .PARAGRAPH.NORMAL {
      text-indent: initial;
    }
    .SECTION + .PARAGRAPH.NORMAL {
      text-indent: initial;
    }
    .SUBSECTION + .PARAGRAPH.NORMAL {
      text-indent: initial;
    }
    .SUBSUBSECTION + .PARAGRAPH.NORMAL {
      text-indent: initial;
    }
    .LISTING .BODY {
      line-height: 1em; 
      text-align: left; 
      width: 100%; 
      padding-left: 1.5em;
      position: relative;
    }
    .LISTING .BODY .LINE {
      position: relative;
    }
    .LISTING .BODY .LINE::before {
      content: var(--lineno);
      position: absolute;
      left: -1.5em;
    }
    .FIGURE {
      page-break-inside: avoid;
    }
    .FIGCAPTION {
      text-indent: initial;
      text-align: left;
      margin-top: 0;
      margin-bottom: 0.5em;
      width: 80%;
      margin-left: auto;
      margin-right: auto;
      line-height: 1em;
      white-space: normal;
      font-size: smaller;
    }
    .SUBCAPTION {
      text-indent: initial;
      white-space: normal; 
      font-size: smaller;
      line-height: 1em;
    }
    .SUBCAPTION::before {
      content: var(--num) " ";
    }
    .SUBROW {
      display: flex;         
      flex-direction: row;
      align-items: baseline;
    }
    .FLOATLEFT {
      text-indent: initial;
      float: left;
      margin-right: 1em; 
    }
    .FLOATRIGHT {
      text-indent: initial;
      float: right;
      margin-left: 1em; 
    }
    .CENTER {
      text-indent: initial;
      text-align:center;
      margin-top: 1.0em;
      margin-bottom: 1.0em;
    }
    .FLUSHRIGHT {
      text-indent: initial;
      text-align:right;
      margin-top: 1.0em;
      margin-bottom: 1.0em;
    }
    .FLUSHLEFT {
      text-indent: initial;
      text-align:left;
      margin-top: 1.0em;
      margin-bottom: 1.0em;
    }
    .QUOTE {
      text-indent: initial;
      text-align:left;
      margin-top: 1.0em;
      margin-bottom: 1.0em;
    }
    .DISPLAYMATH {
      text-indent: initial;
      text-align:center;
      margin-top: 1.0em;
      margin-bottom: 1.0em;
    }
    .VERBATIM {
      text-indent: initial;
      text-align: left;
      width: 100%;
      line-height: 1em;
    }
    .VERSE {
      text-indent: initial;
      text-align: left;
    }
    .PARBOX {
      text-indent: initial;
      text-align: left;
    }
    .TABULAR {
      text-indent: initial;
    }
    .PARA {
      margin-top: 1.0em;
      margin-bottom: 1.0em;
    }
    .PACK {
      margin-top: 0em;
      margin-bottom: 0em;
    }
    .DT {
      margin-bottom: 0em;
    }
    .DD {
      margin-left: 0;
      padding-left: 10mm;
    }
    .LI {
      position: relative;
    }
    .LI::before {
      position: absolute;
      content: var(--bull);
      left: var(--pad);
    }
    .PART, .CHAPTER, .SECTION, .SUBSECTION, .SUBSUBSECTION, .PRIMARY {
      clear: both;
    }
    .FRONTMATTERTITLE {
      margin-left: 6.5mm;
      margin-right: 6.5mm;
      margin-top: 2.5cm;
      margin-bottom: 0;
      font-size: 1.8em;
      font-weight: bold;
      text-align: center;
      align-self: center;
    }
    .FRONTMATTERSUBTITLE {
      margin-left: 6.5mm;
      margin-right: 6.5mm;
      margin-top: 0.8cm;
      margin-bottom: 0;
      font-size: 1.1em;
      text-align: center;
      align-self: center;
    }
    .FRONTMATTERINSTITUTE {
      margin-left: 6.5mm;
      margin-right: 6.5mm;
      margin-top: 0.2cm;
      margin-bottom: 0;
      font-size: 1.1em;
      text-align: center;
      align-self: center;
    }
    .FRONTMATTERAUTHOR {
      margin-left: 6.5mm;
      margin-right: 6.5mm;
      margin-top: 0.2cm;
      margin-bottom: 0;
      font-size: 1.1em;
      text-align: center;
      align-self: center;
    }
    .FRONTMATTERDATE {
      margin-left: 6.5mm;
      margin-right: 6.5mm;
      margin-top: 0.2cm;
      margin-bottom: 0;
      font-size: 1.1em;
      text-align: center;
      align-self: center;
    }
    .EDITIMG {
      visibility: hidden;
      position: absolute;
      top: 0px;
      left: 0px;
    }
    .EDITBOARD {
      position: absolute;
      visibility: visible;
      top: 0px;
      left: 0px;
      bottom: 0px;
      right: 0px;
      background-position: 0px 0px;
      background-repeat: no-repeat;
    }
  }
}
