// The ui-variables file is provided by base themes provided by Atom.
//
// See https://github.com/atom/atom-dark-ui/blob/master/styles/ui-variables.less
// for a full listing of what's available.
@import "ui-variables";

.nitrile-preview {

  .SLIDE {
    margin: 1em auto;
    min-width:128mm;
    max-width:128mm;
    min-height:96mm;
    max-height:96mm;
    font-family: sans-serif;
    font-size: 10pt;
    line-height: 1.15;
    box-sizing: border-box;
    overflow: hidden;
    padding: 1px 0;
  }

}
