// The ui-variables file is provided by base themes provided by Atom.
//
// See https://github.com/atom/atom-dark-ui/blob/master/styles/ui-variables.less
// for a full listing of what's available.
@import "ui-variables";

.nitrile-preview {

  p {
    line-height: inherit;
  }

  .SLIDE {
    margin: auto auto;
    min-width:128mm;
    max-width:128mm;
    min-height:96mm;
    max-height:96mm;
    font-family: Verdana, sans-serif;
    font-size: 10pt;
    line-height: 1.25em;
    box-sizing: border-box;
    overflow: hidden;
    padding: 1px 9mm;
    outline: 1px solid;
    
    .LISTING .BODY {
      line-height: 1; 
      text-align: left; 
      width: 100%; 
      padding-left: 1.5em;
      position: relative;
    }
    .LISTING .BODY .LINE {
      position: relative;
    }
    .LISTING .BODY .LINE::before {
      content: var(--lineno);
      position: absolute;
      left: -1.5em;
    }
    .SUBCAPTION::before {
      content: var(--num) " ";
    }
    .COVE {
      position: relative;
    }
    .COVE::before {
      position: absolute;
      content: var(--bull);
      left: var(--pad);
    }
  }

  .FOLIO {
    margin: auto auto;
    min-width:148mm;
    max-width:148mm;
    min-height:210mm;
    max-height:210mm;
    font-family: Verdana, sans-serif;
    font-size: 10pt;
    line-height: 1.25em;
    box-sizing: border-box;
    overflow: hidden;
    padding: 10mm 10mm;
    outline: 1px solid;
    
    .LISTING .BODY {
      line-height: 1em; 
      text-align: left; 
      width: 100%; 
      padding-left: 1.5em;
      position: relative;
      display: block;
    }
    .LISTING .BODY .LINE {
      position: relative;
      display: block;
    }
    .LISTING .BODY .LINE::before {
      content: var(--lineno);
      position: absolute;
      left: -1.5em;
    }
    .SUBCAPTION::before {
      content: var(--num) " ";
    }
    .COVE {
      position: relative;
    }
    .COVE::before {
      position: absolute;
      content: var(--bull);
      left: var(--pad);
    }
  }

  .PAGE {
    font-family: Verdana, sans-serif;
    font-size: 10pt;
    line-height: 1.25em;
        
    .CHAPTER + .PARAGRAPH.NORMAL {
      text-indent: initial;
    }
    .SECTION + .PARAGRAPH.NORMAL {
      text-indent: initial;
    }
    .SUBSECTION + .PARAGRAPH.NORMAL {
      text-indent: initial;
    }
    .SUBSUBSECTION + .PARAGRAPH.NORMAL {
      text-indent: initial;
    }
    .LISTING .BODY {
      line-height: 1em; 
      text-align: left; 
      width: 100%; 
      padding-left: 1.5em;
      position: relative;
    }
    .LISTING .BODY .LINE {
      position: relative;
    }
    .LISTING .BODY .LINE::before {
      content: var(--lineno);
      position: absolute;
      left: -1.5em;
    }
    .SUBCAPTION::before {
      content: var(--num) " ";
    }
    .COVE {
      position: relative;
    }
    .COVE::before {
      position: absolute;
      content: var(--bull);
      left: var(--pad);
    }
  }
}
